<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Rotten Potatoes</h1>

<div class="sort-form-container">
  <form method="get" action="<%= movies_path %>" class="sort-form">
    <label for="sort">Sort By:</label>
    <select name="sort" id="sort">
      <option value="title" <%= "selected" if params[:sort] == "title" %>>Title</option>
      <option value="rating" <%= "selected" if params[:sort] == "rating" %>>Rating</option>
      <option value="release_date" <%= "selected" if params[:sort] == "release_date" %>>Release Date</option>
    </select>

    <label for="direction">Order:</label>
    <select name="direction" id="direction">
      <option value="asc" <%= "selected" if params[:direction] == "asc" %>>Ascending</option>
      <option value="desc" <%= "selected" if params[:direction] == "desc" %>>Descending</option>
    </select>

    <button type="submit">Sort</button>
  </form>
</div>

<div id="movies">
  <table>
    <thead>
      <tr style= "font-size: large">
        <th>Title</th>
        <th>Rating</th>
        <th>Release Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date %></td>
          <td>
            <%= link_to "Show Movie", movie, class: "button-link-show" %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <% if @movies.any? %>
        <% random_movie = @movies.sample %>
        <tr>
          <td colspan="4">Recommended Movie: 
            <span style="color: #5b59b4; font-weight: bold; font-size: large;">
            <%= random_movie.title %></span>
          </td>
        </tr>
      <% else %>
        <tr>
          <td colspan="4">No movies available</td>
        </tr>
      <% end %>
    </tfoot>
  </table>
</div>

<%= link_to "Add A Movie", new_movie_path, class: "button-link-middle" %>
